.chart-pie-label {
    -fx-text-fill: white;
}
.chart-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.chart-pie-label {
    -fx-text-fill: white;
}


.chart-pie {
    -fx-pie-color: #9BBFE0, #E8A09A, #FBE29F;
}

/* Custom CSS classes for each data item */
.data0.chart-pie {
    -fx-pie-color: #9BBFE0;
}

.data1.chart-pie {
    -fx-pie-color: #E8A09A;
}

.data2.chart-pie {
    -fx-pie-color: #FBE29F;
}
.chart-pie-label {
    -fx-text-fill: white;
}

.chart-pie {
    -fx-pie-color: transparent;
}

/* Custom CSS classes for each data item */
.data0.chart-pie {
    -fx-pie-color: #9BBFE0;
}

.data1.chart-pie {
    -fx-pie-color: #E8A09A;
}

.data2.chart-pie {
    -fx-pie-color: #FBE29F;
}
